<h2>Core concepts:</h2><br>
  <ul>
    <li class='glossary'><strong>Card Values:</strong><br>
      <span class='terms'>- Numbers 2-10 are valued at their number.<br>
      - Face cards (King, Queen, and Jack) are worth 10 each.<br>
      - Aces are worth 1 or 11, whichever benefits you more.<br><br>
      </span></li>
    <li class='glossary'><strong>Key Terms:</strong><br>
      <span class='terms'><strong>- Blackjack:</strong> refers to a hand with a total value of 21. Blackjack is the best possible score.<br>
      <strong>- Bust:</strong> A player busts if his/her hand has a total value greater than 21. Players who busts automatically lose the round.<br>
      <strong>- Hit:</strong> On your turn, the dealer will ask you to hit or stay. If you hit, the dealer will add another card to your hand.<br>
      <strong>-Stay:</strong> If you choose to stay instad of hit, your turn ends, and the dealer takes its turn.</span><br><br>
    </li>
  </ul>


<h2>Gameplay:</h2>
  <p>When you begin, you'll receive $100 of seed money, and be asked to place a bet. After placing your bet, you can see your starting hand, as well as the dealer's first card.</p>
  <p>If your starting hand is a blackjack, you win by default! Otherwise, you must either hit, or stay. You can hit as many times as you like, until you either get blackjack, or you bust. Once your turn has ended, the dealer's turn begins. The dealer will stay at any score above 16, and hit until it reaches that score.
  <p>
<h2>Winning and losing:</h2>
  <p>Beyond getting a blackjack on your starting hand, you win the game if your hand's total is greater than the dealer's, without busting. If you bust, and the dealer does not, then you lose the round. Likewise, if the dealer busts and you don't, you win the round. If you both bust, or if you take your turn and then you and the dealer both get blackjack, then it's a tie!</p>

  <br>

<%= @button %>
