<h2>Core concepts:</h2><br>
  <ul>
    <li style='font-size: 20px'><strong>Card Values:</strong><br>
      <span style='font-size: 16px'>- Numbers 2-10 are valued at their number.<br>
      - Face cards (King, Queen, and Jack) are worth 10 each.<br>
      - Aces are worth 1 or 11, whichever benefits you more.<br><br>
      </span></li>
    <li style='font-size: 20px'><strong>Key Terms:</strong><br>
      <span style='font-size: 16px'><strong>- Blackjack:</strong> refers to a hand with a total value of 21. Blackjack is the best possible score.<br>
      <strong>- Bust:</strong> A player busts if his/her hand has a total value greater than 21. Players who busts automatically lose the round.<br>
      <strong>- Hit:</strong> On your turn, the dealer will ask you to hit or stay. If you hit, the dealer will add another card to your hand.<br>
      <strong>-Stay:</strong> If you choose to stay instad of hit, your turn ends, and the dealer takes its turn.<br><br>
    </li>
  </ul>



When you begin, you'll receive $100 of seed money, and you'll be dealt your first card. You can see your first card, and the dealer's first card, before deciding how much money you'd like to bet this round.

After Betting, you'll receive another card. If yo
# shuffle a deck
# give each player a card face up, including the dealer
# give everyone but the dealer another card face up
# dealer gets a 2nd card, face down
# check players for blackjack.
# dealer asks player to hit/stay
# if player hits
#   check for blackjack or bust
#   else ask again, hit or stay?
# move on to next player's turn if current player stays
# after all players take turn, dealer's turn starts
# while the dealer's cards total less than 17
#   dealer hits
# otherwise
#   dealer stays
# dealer reveals all cards
# if player's cards total more than dealer's (but do not bust)
#   player wins, and gets double their bet
# otherwise
# player loses their bet
# game ends when player runs out of money
# play again?
