<h1>Hello, <%= session[:player_name] %>! You currently have $<%= session[:player_money]%>.</h1>
<h1 class='inline-block'>How much would you like to bet?</h1>
<form class='form-inline' action='/place_bet' method='post'>
  <div class='prepend inline-block'>
    <span class='add-on'>$</span>
    <input class='span2' type='number' placeholder='25' name='player_bet'>
    <button class='btn btn-danger' type='submit'>Place Bet</button>
  </div>
</form>
