<div id='front_page' class="hero-unit">
  <h1 id='title'>Welcome to Blackjack!</h1>
  <p id='welcome_text'><strong>Never played? Click Help! When you're ready, please enter your name below.</strong></p>
  <p><a class="btn btn-inverse btn-large pull-left" href='/help'>Help</a>
    <form class='form-inline pull-right' action='/set_name' method='post'>
      <input type='text' placeholder='Name' name='player_name'/>
      <button type='submit' class='btn btn-danger'>Submit</button>
    </form>
  </p>
</div>
