<div class="hero-unit" style='background-color: #31B148'>
  <h1 style='color: #E60000; text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -4px black'>Welcome to Blackjack!</h1>
  <p style='font-size: 18px'><strong>Never played? Click Help! When you're ready, please enter your name below.</strong></p>
  <p><a class="btn btn-inverse btn-large pull-left" href='/help'>Help</a>
    <form class='form-inline pull-right' action='/set_name' method='post'>
      <input type='text' placeholder='Name' name='player_name'/>
      <button type='submit' class='btn btn-danger'>Submit</button>
    </form>
  </p>
</div>
